body {
    background-image: url(orange.png);
    background-repeat: no-repeat;
    background-size: cover;
}


img:hover {
    border-color: rgb(255, 255, 255);
    border-width: 3px;
    border-style: solid;


}


.imagen {
    width: 200px;
    height: 300px;
    border-radius: 25px;
    margin-right: 15px;

}


.popular-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

.popular-content div {
    width: 35%;
}

.popular-content div img {
    width: 100%;
    height: 100%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .popular-content div {
        width: 15%;
    }

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .popular-content div {
        width: 18%;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .popular-content div {
        width: 18%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
